.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../assets/g.jpg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background-color: transparent;
    width: 415px;
    color: white;
    border-radius: 13px;
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    margin: 50px auto;
  }
  
  .names-box {
    display: flex;
    position: relative;
    margin-bottom: -40px;
    gap: 30px;
  }
  .names-box .input-box {
   width: 39%;
  }
  
  
  .tag-header {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgba(169, 173, 173, 0.644);
    border-radius: 0 0 20px 20px;
    height: 50px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tag-header span {
    color: black;
    font-size: 10px;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 25px;
    margin: 65px 5px;
  }
  
  .input-box input {
    width: 80%;
    height: 35%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 248, 248, 0.2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 15px;
    color: white;
  }
  
  .input-box input::placeholder {
    color: white;
  }
  
  .icon {
    position: absolute;
    right: 40px;
    top: 65%;
    transform: translateY(-40%);
    font-size: 20px;
    color: white;
  }
  
  .btn {
    width: 95%;
    height: 50px;
    background: white;
    color: #333;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 10px;
  }
  